<div class="mb-3">
  <!-- <label for="filterText" class="form-label">Araç ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Aranacak ifadeyi giriniz"> -->
</div>

<!-- <div *ngIf="filterText.length>2" class="alert alert-success" role="alert">
  {{filterText}} aradınız
</div> -->

<div class="row">
  <div class="col-md-4">
    <!-- <select [(ngModel)]="branddFilter" class="form-select" aria-label="marka seç">
      <option value="0">Marka seç</option>
      <option [value]="brand.brandId" *ngFor="let brand of brands">{{brand.brandName}}</option>
    </select> -->
  </div>
  <div class="col-md-4">
    <!-- <select [(ngModel)]="colorrFilter" class="form-select" aria-label="Default select example">
      <option value="0">Renk seç</option>
      <option [value]="color.colorId" *ngFor="let color of colors">{{color.colorName}}</option>
    </select> -->
  </div>
  <div class="col-md-3">
    <!-- <button routerLink="/cars/color/{{colorrFilter}}/brand/{{branddFilter}}" style="width: 100%;"
      class=" btn btn-outline-dark" type="button"> filtrele</button> -->
  </div>
</div>

<div class="row mt-4" style="margin-left: 1%;">

  <div *ngFor="let car of cars"  class="card mt-2 mr-2"
     style="width: 18rem;margin-right: 10px;">

    <img *ngIf="car.imagePath" [src]="baseUrl+car.imagePath" class="card-img-top"
      style="object-fit: cover;" width="100" height="50%" alt="...">

    <img *ngIf="!car.imagePath" [src]="baseUrl+'Default.png'" class="card-img-top"
      style="object-fit: cover;" width="100" height="50%" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ car.modelName }}</h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Model yılı: {{ car.modelYear }}</li>
      <li class="list-group-item">Renk adı: {{ car.colorName }} </li>
      <li class="list-group-item">Marka adı: {{ car.brandName }}</li>
      <li class="list-group-item">Model adı: {{ car.modelName }}</li>
      <li class="list-group-item">Günlük fiyat: {{ car.dailyPrice }}</li>
      <li class="list-group-item">Araç açıklaması: {{ car.description}}</li>

    </ul>
    <div class="card-body">
      <div class="row">
         <button type="button"
          class="btn btn-outline-success"
          routerLink="/cars/carDetails/{{car.carId}}" >Araba Detay</button>
      </div>
    </div>
  </div>
</div>


<!-- <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marka Id</th>
      <th scope="col">Renk Id</th>
      <th scope="col">Model</th>
      <th scope="col">Yıl</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Günlük Fiyat</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let car of cars">
      <th scope="row">{{car.carId}}</th>
      <td>{{car.brandId}}</td>
      <td>{{car.colorId}}</td>
      <td>{{car.modelName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.dailyPrice }}</td>
    </tr>
  </tbody>
</table> -->
